body {
    height: auto;
    background-color: black;
    color: white;
}


/*  SECTION: OVERLAY    */


#landing-page-overlay {
    height: 100vh;
    background-image: url("https://www.uniquevenuesoflondon.co.uk/sites/default/files/cover/Lincoln's%20Inn%20-%20011%20(unwatermarked)%20-%20AS%20(2000x1333px).jpg");
    margin: -1vw;
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: opacity 1s ease, transform 4s ease;
    opacity: 0;

}

/*  Added to class list in JavaScript on click event  */
.overlay-remove {
    top: -120vh;
}

.overlay-centre-boxes {
    width: 30vw;
    height: 30vh;
    top: 25vh;
    left: 35vw;
    position: absolute;

    transition: opacity 1.0s ease;
}

/* Parent div to following unanchored children */
#overlay-name-background {
    background-color: black;
    opacity: 65%;
    transition: opacity 1s ease, transform 4s ease;
}

/* This distinction was made so the 'child' could keep 100% opacity
 since CSS doesn't support children overriding parent opacity values.
 This box matches the 'parent' exactly in dimensions. */
#overlay-name-box {
    opacity: 100%;
    text-align: center;
    margin: 2vw;
    width: 25vw;
    height: 20vh;
    transition: color 0.5s, transform 4s ease;
    left: 35vw;
}

#overlay-name {
    font-size: 3vw;
    font-family: PrettyText;
}

#overlay-subtitle {
    font-size: 1vw;
    font-family: Subtitle;
}

/*  BUTTONS */

/* From Uiverse.io by vinodjangid07 */

#overlay-button-box {
    top: 47vh;
    left: 45vw;
    width: 10vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    opacity: 0.5;
    transition: opacity 1s ease, transform 8s ease;
}

#overlay-button {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 0px 15px 4px #c8a2c8;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

#overlay-icon {
    width: 12px;
    transition-duration: 0.3s;
}

#overlay-icon {
    fill: white;
}

path {
    fill: white;
}

#overlay-button:hover {
    width: 10vw;
    border-radius: 20px;
    transition-duration: .5s;
    background-color: #c8a2c8;
    align-items: center;
    font-family: Subtitle;
    box-shadow: 1px 0px 5px 4px #c8a2c8;
    border: 1px solid pink;

}

#overlay-button:hover #overlay-icon {
    /* width: 20px; */
    transition-duration: 0.5s;
    transform: translateY(-250%);
}

#overlay-button::before {
    position: absolute;
    bottom: -20px;
    content: "Enter";
    /* transition-duration: .3s; */
    font-size: 0px;
}

#overlay-button:hover::before {
    font-size: 1.1em;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.5s
}


/*  SECTION: ABOUT PAGE */

#everything {
    opacity: 0;
    display: none;
    transition: opacity 2s;
}

#about {
    margin-top: 10vh;
    font-size: 1.1rem;
}

#about-picture {
    float: left;
    background-image: url(media/portrait.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vw;
    height: 50vh;
    margin: 3vh;
}

#about-title {
    font-size: 3rem;
    font-family: PrettyText;
    text-decoration: underline 1px;
    text-underline-offset: .5vh;
    text-decoration-color: purple;
    color: purple;
    text-align: center;
    margin-top: 4vh;
}

#about-text {
    text-align: justify;
    margin-bottom: 5vh;
}

pink {
    color: #c8a2c8;
}


/*  SECTION: QUALIFICATIONS PAGE    */

#qualifications-page-margin {
    margin-left: 5vw;
    width: 85vw;
    padding: 3vh;
    display: grid;
    grid: 30vh 25vh 25vh 25vh/ 15vw 45vw 15vw;
    gap: 20vh 5vw;
    padding-bottom: 10vh;
    margin-bottom: 20vh;
}

.qualifications-page-images {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    
}

.qualifications-page-descriptions {
    padding: 1vw;
    height: 30vh;
    margin-top: -5vh;
    border: 1px solid purple;
}

#qualifications-page-image1 {
    float: left;
    background-image: url(media/woodgreen.jpg);
}

#qualifications-page-description1 {
    margin-top: 0;
}

#qualifications-page-image2 {
    float: right;
    background-image: url(media/crowncourt.PNG);
    height: 35vh;
    background-size: contain;
}

#qualifications-page-image3 {
    float: left;
    background-image: url(media/lincolns-inn.jpg);
    background-position-y: -1mm;
    margin-top: -5vh;

}

#qualifications-page-description2 {

}

#qualifications-page-image4 {
    float: right;
    background-image: url(media/bar.jpg);
    height: 35vh;
    margin-top: -5vh;
}

#qualifications-page-image5 {
    float: left;
    background-image: url(media/BPP-340x340-1-300x300.png);
    margin-top: -5vh;

}

#qualifications-page-description3 {

}

#qualifications-page-image6 {
    float: right;
    background-image: url(media/bpp.jpg);
    height: 35vh;
    margin-top: -5vh;
    background-size: contain;
}

#qualifications-page-image7 {
    float: left;
    background-image: url(media/png-clipart-middlesex-university-hendon-higher-education-ming-ai-london-institute-student.png);
    width: 25vw;
    margin-top: -5vh;
    background-size: contain;
}

#qualifications-page-description4 {
    width: 32.5vw;
    margin-left: 10vw;
}

#qualifications-page-image8 {
    float: right;
    background-image: url(media/mdx.jpg);
    height: 35vh;
    margin-top: -5vh;
    background-size: contain;
}


/*  SECTION: CLIENTS PAGE   */

#clients-page-margin {
    display: grid;
    grid: 20vw 20vw 20vw / 20vw 45vw;
    grid-gap: 10vh 5vw;
}

.client-pictures {
    float: left; 
    border: 1px solid #c8a2c8;
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
}

.client-descriptions {
    border: 1px solid purple;
    font-style: italic;
    padding: 2vw;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#client-picture1 {
    background-image: url(media/clients-icon-vector.png);
}

#client-picture2 {
    background-image: url(media/clients-icon-vector.png);
}

#client-picture3 {
    background-image: url(media/clients-icon-vector.png);
}

/*  SECTION: PAGE STRUCTURE */

.page-margin {
    width: 70vw;
    margin-left: 14vw;
    font-family: GeneralText;
    border: 2px solid #c8a2c8;
    box-shadow: 1px 0px 15px 5px #c8a2c8;
    margin-top: 10vh;
    font-size: 1vw;
    transition: all 1s ease;
    padding: 2vw;
}

#name-banner {
    margin-top: 0;
    height: 25vh;
    width: 94vw;
    margin-left: 0;
    opacity: 80%;
    background: rgb(238,174,202);
    background: -moz-radial-gradient(circle, rgba(238,174,202,1) 32%, rgba(145,6,186,1) 87%);
    background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 32%, rgba(145,6,186,1) 87%);
    background: radial-gradient(circle, rgba(238,174,202,1) 32%, rgba(145,6,186,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#9106ba",GradientType=1); 
}

#name-box {
    text-align: center;
    color: white;
    margin: 2vw;
    width: 25vw;
    height: 20vh;
    transition: color 0.5s, transform 4s ease;
    left: 35vw;
    top: 4vh;
}

#name {
    font-size: 3vw;
    font-family: PrettyText;
}

#subtitle {
    font-size: 1vw;
    font-family: Subtitle;
}

#navigation-grid {
    display: grid;
    grid: 15vh / 24% 24% 24% 24%;
    column-gap: .5%;
    margin-top: 1vh;
    margin-left: 2vw;
}

/* From Uiverse.io by SujitAdroja */
.navigation-tabs {
    color: purple;
    text-decoration: none;
    border: 1px solid #c8a2c8;
    font-size: 1.8vw;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s ease;
    overflow: hidden;
    font-family: PrettyText;
    border-radius: 10px 5px 10px 5px;
    /*  Removed after overlay removed   */
    display: none, flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 4vh;
}

.navigation-tabs:hover {
    color: white;
    box-shadow: 1px 0px 15px 5px #c8a2c8;

}

.navigation-tabs::before {
    content: "";
    position: absolute;
    height: 150%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #eeaeca;
    z-index: -1;
    transition: all 2s ease;
    
}

.navigation-tabs:hover::before {
    width: 160%;
}

footer {
    color: white;
    text-align: center;
    margin-top: 4vh;
}



/*  SECTION: FONTS  */

@font-face {
    font-family: PrettyText;
    src: url("fonts/BrockScript.ttf");
}

@font-face {
    font-family: Subtitle;
    src: url(fonts/neris/Neris-Thin.otf);
}

@font-face {
    font-family: GeneralText;
    src: url(fonts/neris/Neris-Light.otf);
}

/* Global scrollbar removal for all elements */

::-webkit-scrollbar {
    display: none;
}

html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
